body, html {
    height: 100%;
    margin: 0;
  }
  
.bg {
    /* The image used */
    background-image: url("img_girl.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
}

.start-page {
    padding-top:15%
}